* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
ul,
ol,
li {
  list-style: none;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  height: 60px;
  background-color: red;
}
.tab {
  height: 60px;
  background-color: blue;
}
.content {
  overflow: auto;
  flex:1;
  background-color: skyblue;
}
.content > div{
  display: flex;
}
.aside {
  width: 300px; /* 스타일 변경 */
  background-color: green;
}
.main {
  flex: 1;
  background-color: white;
}
.main > div{
  height:100vh;
  width: 100%;
  background-color: yellowgreen;
  border:1px solid red;
}
.footer {
  height: 60px;
  margin-top: auto;
  background-color: gold;
}
